/* TableRow.module.css */

.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
    gap: 4px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #939292;
}

.NormalImage {
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.FullScreenImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 1000;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
}

.Card button {
    width: 50%;
    padding: 0;
}

.Card .delBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 20px;
    border-radius: 10px;

    text-align: center;
    border: none;
}
